/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 8     // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>

#define RGBON   &rgb_ug RGB_ON
#define RGBOFF  &rgb_ug RGB_OFF
#define RGBTOG  &rgb_ug RGB_TOG
#define RGBHUI  &rgb_ug RGB_HUI
#define RGBHUD  &rgb_ug RGB_HUD
#define RGBSAI  &rgb_ug RGB_SAI
#define RGBSAD  &rgb_ug RGB_SAD
#define RGBBRI  &rgb_ug RGB_BRI
#define RGBBRD  &rgb_ug RGB_BRD
#define RGBEFF  &rgb_ug RGB_EFF

#define BTCLR   &bt BT_CLR
#define BTSEL0  &bt BT_SEL 0
#define BTSEL1  &bt BT_SEL 1
#define BTSEL2  &bt BT_SEL 2
#define BTSEL3  &bt BT_SEL 3
#define BTSEL4  &bt BT_SEL 4
#define BTCLRA  &bt BT_CLR_ALL

#define EXTON   &ext_power EP_ON 
#define EXTOFF  &ext_power EP_OFF 
#define EXTTOG  &ext_power EP_TOG 

/ {
    behaviors {
        scroll: keyboard_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <200>;
        };
        move: keyboard_move {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mmv>, <&mmv>;
            tap-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3    &kp N4   &kp N5                      &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp EQUAL
&kp TAB   &kp Q  &kp W  &kp E     &kp R    &kp T                       &kp Y  &kp U    &kp I     &kp O   &kp P    &kp MINUS
&kp ESC   &kp A  &kp S  &kp D     &kp F    &kp G                       &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C     &kp V    &kp B  &mo 5      &mkp LCLK &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LCTRL &mo 3    &mo 2  &kp SPACE  &kp RET   &mo 4  &kp BSPC &kp LALT
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp DOWN UP>;
        };

        colemakdh_layer {
            display-name = "ColeDH";
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3    &kp N4   &kp N5                      &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp EQUAL
&kp TAB   &kp Q  &kp W  &kp F     &kp P    &kp B                       &kp J  &kp L    &kp U     &kp Y   &kp SEMI &kp MINUS
&kp ESC   &kp A  &kp R  &kp S     &kp T    &kp G                       &kp M  &kp N    &kp E     &kp I   &kp O    &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C     &kp D    &kp V  &mo 5      &mkp LCLK &kp K  &kp H    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LCTRL &mo 3    &mo 2  &kp SPACE  &kp RET   &mo 4  &kp BSPC &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp DOWN UP>;
        };

        right_layer {
            display-name = "Right";
            bindings = <
&trans     &trans           &trans            &trans            &trans       &trans                       &trans    &trans    &trans   &trans    &trans    &trans
&kp F1     &kp F2           &kp F3            &kp F4            &kp F5       &kp F6                       &kp F7    &kp F8    &kp F9   &kp F10   &kp F11   &kp F12
&kp F1     &kp F2           &kp F3            &kp F4            &kp F5       &kp F6                       &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &trans    &trans
&trans     &trans           &trans            &trans            &trans       &trans    &kp MINUS &kp PLUS &kp LBRC  &kp RBRC  &kp PIPE
                                              &trans            &trans       &trans    &trans    &trans   &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll SCRL_DOWN SCRL_UP>;
        };

        numeric_layer {
            display-name = "Numeric";
            bindings = <
&trans     &trans           &trans            &trans            &trans       &trans                      &trans    &trans    &kp FSLH &kp STAR  &kp MINUS  &none
&trans     &none            &none             &none             &none        &none                       &none     &kp N7    &kp N8   &kp N9    &kp PLUS   &none
&trans     &none            &none             &none             &none        &none                       &none     &kp N4    &kp N5   &kp N6    &kp RET    &trans
&trans     &none            &none             &none             &trans       &trans    &trans   &trans   &none     &kp N1    &kp N2   &kp N3    &kp RET    &trans
                                              &trans            &trans       &trans    &trans   &trans   &trans    &kp N0    &kp DOT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll SCRL_DOWN SCRL_UP>;
        };

        left_layer {
            display-name = "Left";
            bindings = <
&kp F1    &kp F2   &kp F3 &kp F4   &kp F5     &kp F6                       &kp F7      &kp F8    &kp F9    &kp F10  &kp F11   &kp F12
&kp GRAVE &kp N1   &kp N2 &kp LBRC &kp RBRC   &kp N5                       &kp N6      &kp N7    &kp N8    &kp N9   &kp N0    &trans
&kp GRAVE &kp EXCL &kp AT &kp LPAR &kp RPAR   &kp PRCNT                    &kp CARET   &kp AMPS  &kp STAR  &kp LPAR &kp RPAR  &kp TILDE
&kp F7    &kp F8   &kp F9 &kp LBKT &kp RBKT   &kp F12   &trans   &trans    &kp KP_PLUS &kp MINUS &kp EQUAL &kp LBKT &kp RBKT  &kp BSLH
                          &trans   &trans     &trans    &trans   &trans    &trans      &trans    &trans
            >;

            sensor-bindings = <&scroll SCRL_LEFT SCRL_RIGHT &inc_dec_kp PG_DN PG_UP>;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
BTCLR    BTSEL0 BTSEL1 BTSEL2  BTSEL3  BTSEL4                        RGBBRD      RGBBRI      RGBHUI      RGBHUD     RGBSAI    RGBSAD
BTCLRA   &trans &trans &trans  &trans  &trans                        &kp C_PREV  &kp C_PLAY  &kp C_STOP  &kp C_NEXT &trans    RGBTOG
&trans   &trans &trans &trans  &trans  &trans                        &trans      &trans      &trans      &trans     &trans    &trans
EXTON    EXTOFF EXTTOG &trans  &trans  &trans    &trans   &mkp LCLK  &mkp MCLK   &mkp RCLK   &trans      &trans     &trans    &trans
                       &trans  &trans  &trans    &trans   &trans     &trans      &trans      &tog 1
            >;

            sensor-bindings = <&move MOVE_LEFT MOVE_RIGHT &move MOVE_DOWN MOVE_UP>;
        };
    };
};

&led_strip {
  chain-length = <29>;
};

&sensors {
  triggers-per-rotation = <40>;
};
