/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 8     // default: 10

#include <behaviors/unicode.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk-unicode/uc.h>
#include <zmk-unicode/keys-extra.h>

#define CLICK   &kp LCLK
#define L_SHFT  &kp LSHFT
#define R_SHFT  &kp RSHFT
#define L_ALT   &kp LALT
#define R_ALT   &kp RALT
#define L_CTRL  &kp LCTRL
#define R_CTRL  &kp RCTRL

#define MO2     &mo 2
#define MO4     &mo 4
#define MO5     &mo 5

#define TOG1     &tog 1
#define TOG3     &tog 3

#define RGBON   &rgb_ug RGB_ON
#define RGBOFF  &rgb_ug RGB_OFF
#define RGBFON  &rgb_ug RGB_FON
#define RGBFOFF &rgb_ug RGB_FOFF
#define RGBTOG  &rgb_ug RGB_TOG
#define RGBHUI  &rgb_ug RGB_HUI
#define RGBHUD  &rgb_ug RGB_HUD
#define RGBSAI  &rgb_ug RGB_SAI
#define RGBSAD  &rgb_ug RGB_SAD
#define RGBBRI  &rgb_ug RGB_BRI
#define RGBBRD  &rgb_ug RGB_BRD
#define RGBEFF  &rgb_ug RGB_EFF
#define RGBEFR  &rgb_ug RGB_EFR
#define RGBSPI  &rgb_ug RGB_SPI
#define RGBSPD  &rgb_ug RGB_SPD
#define RGBBTOG &rgb_ug RGB_BTOG

#define BTCLR   &bt BT_CLR
#define BTSEL0  &bt BT_SEL 0
#define BTSEL1  &bt BT_SEL 1
#define BTSEL2  &bt BT_SEL 2
#define BTSEL3  &bt BT_SEL 3
#define BTSEL4  &bt BT_SEL 4
#define BTCLRA  &bt BT_CLR_ALL

#define EXTON   &ext_power EP_ON 
#define EXTOFF  &ext_power EP_OFF 
#define EXTTOG  &ext_power EP_TOG 

#define USLI    &uc UC_SET_LINUX
#define USWI    &uc UC_SET_WIN_ALT
#define USMA    &uc UC_SET_MACOS

#define AGRAVE  &uc UC_LATIN_LETTER_A_WITH_GRAVE
#define AACUTE  &uc UC_LATIN_LETTER_A_WITH_ACUTE
#define ADIAER  &uc UC_LATIN_LETTER_A_WITH_DIAERESIS
#define ACIRCM  &uc UC_LATIN_LETTER_A_WITH_CIRCUMFLEX
#define EGRAVE  &uc UC_LATIN_LETTER_E_WITH_GRAVE
#define EACUTE  &uc UC_LATIN_LETTER_E_WITH_ACUTE
#define EDIAER  &uc UC_LATIN_LETTER_E_WITH_DIAERESIS
#define ECIRCM  &uc UC_LATIN_LETTER_E_WITH_CIRCUMFLEX
#define IGRAVE  &uc UC_LATIN_LETTER_I_WITH_GRAVE
#define IACUTE  &uc UC_LATIN_LETTER_I_WITH_ACUTE
#define IDIAER  &uc UC_LATIN_LETTER_I_WITH_DIAERESIS
#define ICIRCM  &uc UC_LATIN_LETTER_I_WITH_CIRCUMFLEX
#define OGRAVE  &uc UC_LATIN_LETTER_O_WITH_GRAVE
#define OACUTE  &uc UC_LATIN_LETTER_O_WITH_ACUTE
#define ODIAER  &uc UC_LATIN_LETTER_O_WITH_DIAERESIS
#define OCIRCM  &uc UC_LATIN_LETTER_O_WITH_CIRCUMFLEX
#define UGRAVE  &uc UC_LATIN_LETTER_E_WITH_GRAVE
#define UACUTE  &uc UC_LATIN_LETTER_E_WITH_ACUTE
#define UDIAER  &uc UC_LATIN_LETTER_E_WITH_DIAERESIS
#define UCIRCM  &uc UC_LATIN_LETTER_U_WITH_CIRCUMFLEX

#define EURO    &uc UC_CURR_EURO
#define STERL   &uc UC_CURR_POUND

#define CDILLA  &uc UC_FR_C_CEDILLA
#define RINGLS  &uc UC_DE_SS

#define SMILE   &uc UC_SMILING_FACE_WITH_OPEN_MOUTH_AND_SMILING_EYES
#define WINK    &uc UC_WINKING_FACE
#define CRINGE  &uc UC_FACE_WITH_STUCK_OUT_TONGUE_AND_TIGHTLY_CLOSED_EYES
#define TONGUE  &uc UC_FACE_WITH_STUCK_OUT_TONGUE
#define CRYING  &uc UC_DISAPPOINTED_BUT_RELIEVED_FACE
#define ROFL    &uc UC_FACE_WITH_TEARS_OF_JOY
#define HALLEH  &uc UC_PERSON_WITH_FOLDED_HANDS
#define CELEB   &uc UC_PERSON_RAISING_BOTH_HANDS_IN_CELEBRATION
#define THUMBS  &uc 0x1F44D 0
#define MUSIC   &uc 0x0266C 0

#define FRAE    &uc UC_FR_AE
#define FROE    &uc UC_FR_OE

#define EQ      EQUAL

&led_strip {
  chain-length = <29>;
};

&sensors {
  triggers-per-rotation = <40>;
};

&uc {
  default-mode = <UC_MODE_LINUX>;
};

&soft_off {
  hold-time-ms = <2000>;
  /delete-property/ split-peripheral-off-on-press;
};

/ {
    behaviors {
        scroll: keyboard_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <200>;
        };
        move: keyboard_move {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mmv>, <&mmv>;
            tap-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemakdh_layer {
            display-name = "ColeDH";
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3   &kp N4  &kp N5                     &kp N6  &kp N7   &kp N8    &kp N9  &kp N0   &kp EQUAL
&kp TAB   &kp Q  &kp W  &kp F    &kp P   &kp B                      &kp J   &kp L    &kp U     &kp Y   &kp SEMI &kp MINUS
&kp ESC   &kp A  &kp R  &kp S    &kp T   &kp G                      &kp M   &kp N    &kp E     &kp I   &kp O    &kp SQT
L_CTRL    &kp Z  &kp X  &kp C    &kp D   &kp V    MO5       L_ALT   &kp K   &kp H    &kp COMMA &kp DOT &kp FSLH &kp BSLH
                        TOG3     MO2     L_SHFT   &kp SPACE &kp RET R_SHFT  MO4      &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp DOWN UP>;
        };

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3   &kp N4  &kp N5                     &kp N6  &kp N7   &kp N8    &kp N9  &kp N0   &kp EQUAL
&kp TAB   &kp Q  &kp W  &kp E    &kp R   &kp T                      &kp Y   &kp U    &kp I     &kp O   &kp P    &kp MINUS
&kp ESC   &kp A  &kp S  &kp D    &kp F   &kp G                      &kp H   &kp J    &kp K     &kp L   &kp SEMI &kp SQT
L_CTRL    &kp Z  &kp X  &kp C    &kp V   &kp B    MO5       L_ALT   &kp N   &kp M    &kp COMMA &kp DOT &kp FSLH &kp BSLH
                        TOG3     MO2     L_SHFT   &kp SPACE &kp RET R_SHFT  MO4      &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp DOWN UP>;
        };

        right_layer {
            display-name = "Right";
            bindings = <
AGRAVE   EGRAVE    IGRAVE   OGRAVE   UGRAVE   CDILLA                     &kp F7    &kp F8    &kp F9   &kp F10   &kp F11   &kp F12
AACUTE   EACUTE    IACUTE   OACUTE   UACUTE   EURO                       &kp INS   &kp DEL   &kp HOME &kp END   &kp PG_UP &trans
ADIAER   EDIAER    IDIAER   ODIAER   UDIAER   RINGLS                     &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &kp PG_DN &trans
ACIRCM   ECIRCM    ICIRCM   OCIRCM   UCIRCM   FROE     &trans   &trans   &kp BSLH  &kp FSLH  &kp PIPE &kp TILDE &kp RALT  &kp RCTRL
                            &trans   &trans   &trans   &trans   &trans   &trans    &kp RGUI  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll SCRL_DOWN SCRL_UP>;
        };

        numeric_layer {
            display-name = "Numeric";
            bindings = <
&trans   CRINGE    STERL    &none    &kp LT   &kp GT                     &kp QMARK &kp N0    &kp FSLH &kp STAR  &kp MINUS  &kp LT
&trans   SMILE     WINK     TONGUE   &kp LBRC &kp RBRC                   &kp EXCL  &kp N7    &kp N8   &kp N9    &kp PLUS   &kp GT
&trans   ROFL      HALLEH   THUMBS   &kp LPAR &kp RPAR                   &kp TILDE &kp N4    &kp N5   &kp N6    &kp EQUAL  &kp EQUAL
&trans   CRYING    CELEB    MUSIC    &kp LBKT &kp RBKT &trans   &trans   &kp PRCNT &kp N1    &kp N2   &kp N3    &kp RET    &kp RET
                            &trans   &trans   &trans   &trans   &trans   &kp DOT   &kp N0    &trans
            >;

            sensor-bindings = <&scroll SCRL_UP SCRL_DOWN &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        left_layer {
            display-name = "Left";
            bindings = <
&kp F1  &kp F2    &kp F3   &kp F4     &kp F5     &kp F6                       &kp F7      &kp F8    &kp F9    &kp F10  &kp F11   &kp F12
&trans  &kp COLON &kp EQ   &kp LBRC   &kp RBRC   &kp DOLLAR                   &kp INS     &kp DEL   &none     &none    &none     &none
&trans  &kp LT    &kp GT   &kp LPAR   &kp RPAR   &kp PRCNT                    &kp TILDE   &kp CARET &kp AMPS  &kp STAR &kp LPAR  &kp RPAR 
&trans  &kp LGUI  &kp LALT &kp LBKT   &kp RBKT   &kp CARET &trans   &trans    &kp PLUS    &kp MINUS &kp COLON &kp EQ   &kp LBKT  &kp RBKT
                           &kp K_UNDO &kp PSCRN  &trans    &trans   &trans    &trans      &trans    &trans
            >;

            sensor-bindings = <&scroll SCRL_LEFT SCRL_RIGHT &inc_dec_kp PG_DN PG_UP>;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
BTCLR    BTSEL0 BTSEL1 BTSEL2  BTSEL3  BTSEL4                        RGBBRD      RGBBRI      RGBHUD      RGBHUI     RGBSAD    RGBSAI
BTCLRA   &none  &none  &none   RGBSPD  RGBSPI                        &kp C_PREV  &kp C_PLAY  &kp C_STOP  &kp C_NEXT RGBBTOG   RGBTOG
&trans   &none  &none  &none   &none   &none                         &kp K_CUT   &kp K_COPY  &kp K_PASTE &kp K_EDIT RGBEFR    RGBEFF
USLI     USWI   USMA   &none   &none   &none     &trans   &mkp LCLK  &mkp MCLK   &mkp RCLK   EXTTOG      &soft_off  RGBFON    RGBFOFF
                       &trans  &trans  &trans    &trans   &trans     &trans      &trans      TOG1
            >;

            sensor-bindings = <&move MOVE_LEFT MOVE_RIGHT &move MOVE_DOWN MOVE_UP>;
        };
    };
};

